.barre-verticale {
    height: 100%;
    width: 0.1px; /* Largeur de la barre */
    background-color: #000; /* Couleur de la barre */
    position: absolute;
    left: 50%; /* Position horizontale de la barre au milieu de l'écran */
    transform: translateX(-50%); /* Ajustement de la position de la barre */
    top: 0px;
}

body{
    margin: 0;
}

.login-page {
  width: 50%;
  margin-top: 100px;
}


.logo-img{
  width: 100%;
}

.form {
  position: relative;
  z-index: 1;
  background: #fff;
  max-width: 360px;
  margin: auto;
  padding: 45px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.form input[type="text"],
.form input[type="password"] {
  font-family: Arial, sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.form button:hover,
.form button:active {
  background: #43A047;
}

.message {
  font-family: Arial, sans-serif;
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 14px;
}

.message a {
  font-family: Arial, sans-serif;
  color: #4CAF50;
  text-decoration: none;
}